<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-item-model-heading" data-cy="ItemModelCreateUpdateHeading">Create or edit a Item Model</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdDate">Created Date</label>
          <div class="input-group">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="text"
              class="form-control"
              name="createdDate"
              ngbDatepicker
              #createdDateDp="ngbDatepicker"
              formControlName="createdDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_lastModifiedDate">Last Modified Date</label>
          <div class="input-group">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="text"
              class="form-control"
              name="lastModifiedDate"
              ngbDatepicker
              #lastModifiedDateDp="ngbDatepicker"
              formControlName="lastModifiedDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="lastModifiedDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_itemMake">Item Make</label>
          <select class="form-control" id="field_itemMake" data-cy="itemMake" name="itemMake" formControlName="itemMake">
            <option *ngIf="!editForm.get('itemMake')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="itemMakeOption.id === editForm.get('itemMake')!.value?.id ? editForm.get('itemMake')!.value : itemMakeOption"
              *ngFor="let itemMakeOption of itemMakesSharedCollection; trackBy: trackItemMakeById"
            >
              {{ itemMakeOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['itemMake'])!.invalid && (editForm.get(['itemMake'])!.dirty || editForm.get(['itemMake'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['itemMake'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
