<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="itemImage">
      <h2 data-cy="itemImageDetailsHeading"><span>Item Image</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ itemImage.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ itemImage.name }}</span>
        </dd>
        <dt><span>Image</span></dt>
        <dd>
          <div *ngIf="itemImage.image">
            <a (click)="openFile(itemImage.image, itemImage.imageContentType)">
              <img
                [src]="'data:' + itemImage.imageContentType + ';base64,' + itemImage.image"
                style="max-width: 100%"
                alt="itemImage image"
              />
            </a>
            {{ itemImage.imageContentType }}, {{ byteSize(itemImage.image) }}
          </div>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ itemImage.createdDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ itemImage.lastModifiedDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Item</span></dt>
        <dd>
          <div *ngIf="itemImage.item">
            <a [routerLink]="['/item', itemImage.item?.id, 'view']">{{ itemImage.item?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/item-image', itemImage.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
